<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Password Reset</title>
    <style>
      body {
        font-family: Arial, sans-serif;
        background-color: #f5f5f5;
      }
      .container {
        margin: 0 auto;
        max-width: 650px;
        padding: 20px;
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
      }
      .logo {
        display: block;
        margin: 0 auto 20px;
        max-width: 200px;
      }
      h1 {
        font-size: 24px;
        margin-top: 0;
      }
      p {
        font-size: 16px;
        line-height: 1.5;
        margin-bottom: 10px;
      }
      a {
        display: inline-block;
        padding: 10px 20px;
        background-color: {{company.primaryColor}};
        color: #fff;
        text-decoration: none;
        border-radius: 5px;
        margin-top: 20px;
      }
      a:hover {
        background-color: {{company.primaryColorHover}};
      }
      .footer {
		border-top: 3px solid #DDD;
        margin-top: 40px;
        color: {{company.textColorSmooth}};
        text-align: center;
      }
	  .footer p {
		font-size: 11px;
	  }
    </style>
  </head>
  <body>
    <div class="container">
      <img src="https://ci3.googleusercontent.com/mail-sig/AIorK4yp-GBR6pQ-LZ_-0fxvJLOnnA5cxdRFFuU2k9WxgZrsBqIr2txON4AOTq2f_thRjJU_lLqC1hE" alt="{{company.companyName}} Logo" class="logo">
      <h1>Password Reset</h1>
      <p>Hi {{userName}},</p>
      <p>We received a request to reset your password. To reset your password, please click the link below:</p>
      <p><a href="{{url}}">Reset Password</a></p>
      <p>If you didn't request to reset your password, you can ignore this email.</p>
      <p>Thanks,</p>
      <p>The {{company.companyName}} Team</p>
      <div class="footer">
        <p>{{company.companyName}} - {{company.companyEmail}} - {{company.companyPhone}}</p>
        <p>{{company.companyAddress}} - {{company.companyWebsite}}</p>
      </div>
    </div>
  </body>
</html>

